.expanded-image-view {
  &__dialog-container {
    // width: 1300px;
  }
}

#expandedImageView {
  width: 100%;
}
#btn-select--expandimage {
  padding: 0 12px 0 0;
  .v-text-field.v-text-field--enclosed .v-text-field__details {
    display: none;
  }
  .v-text-field.v-text-field--solo .v-input__control {
    min-height: 32px;
    padding: 0;
  }
  .v-input__slot {
    margin-bottom: 0;
  }
  .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)
    > .v-input__control
    > .v-input__slot {
    box-shadow: -1px -1px 1px -2px rgb(0 0 0 / 20%),
      0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    margin-bottom: 0;
    min-height: 36px;
  }
}
