.image-location-details {
    &__slider-container {
        padding-bottom: 36px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__image-text {
        font-family: "Avenir Next";
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 22px;
    }

    &__image-location-text {
        color: #4A4A4A;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 19px;
    }

    &__capture-date-time-text {
        color: #4A4A4A;
        font-family: "Avenir Next";
        font-size: 10px;
        letter-spacing: 0;
        line-height: 10px;

        &--space-up {
            margin-top: 15px;
        }

        &--bold {
            font-weight: 600;
        }
    }

    &__date-time-container {
        padding-top: 21px;
    }
}