.map {
    &__control-container {
        order: 0;
    }

    &__search-container {
        display: flex;
        flex-wrap: wrap;
    }

    .geocoder-control {
        order: 1;
    }

    &__minimize-btn {
        background-color: white;
        width: 34px;
    }

    &__autocomplete-field {
        margin-right: 10px !important;
        width: 300px;
    }

    &__clear-btn {
        background-color: white;
    }
}
.searchBox {
    z-index: 3000;
    left: 50px;
    top: 50px;
    width: 500px;
    height: 600px;
}

.icon-style {
    position: absolute;
    left: 0px;
    top: 23px;
}

.number-avatar {
    position: absolute;
    left: -7px;
    top: -7px;
    color: white;
}

.icon-svg {
    margin-top: -45px !important;
}

.marker {
    top: -20px !important;
}

.leaflet-left {
    display: flex;
    flex-direction: row-reverse;
}

.pending-item-btn {
    background-color: white;
}

.leaflet-top  {
    display: flex;
    flex-direction: row;

    .survey-search {
        order: 1;
    }
}

.cursor {
    &--default {
        cursor: not-allowed !important;
    }

    &--pointer {
        cursor: pointer;
    }
}