.save-signboard-form {
    .signboard-annotation-title {
        font-size: 14px;
        line-height: 16px;
        color: #595B5F;
        font-family: "Avenir Next";
        font-weight: 600;
        margin-bottom: 15px;
    }

    &__button-container {
        padding-top: 20px;
        display: flex;
        justify-content: flex-end;
    }
}