.search-panel {
  &__label {
    font-family: "Open Sans";
    font-size: 12px;
    letter-spacing: 0;
    line-height: 17px;
  }

  .v-input__append-outer {
      margin-top: 0px;
  }
}

.v-text-field input {
  font-size: 12px;
}

.v-btn.district {
    font-size: 10px !important;
}

.search-panel > .search-text-field{
    width: 342px;
}