.v-navigation-drawer__content {
	.v-list-item--active.tab-selected {
		background-color: #76bed02e;
	}
	.icon--sidebar-navigation {
		width: 36px;
		height: 36px;
		margin: 8px 0;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}
.v-tooltip__content.v-tooltip__content--fixed {
	background-color: rgba(97, 97, 97, 0.9);
	color: #FFFFFF;
}