.survey-search {
    display: flex;

    .space-left {
        margin-right: 10px !important;
    }

    .font-class-name * {
        font-size: 14px;
    }

    .date-picker-search{
        width: 220px;
    }
}