.trip-route {
    &__minimize-btn {
        background: white;
        height: 40px !important;
        width: 34px;
    }

    &__clear-search-btn {
        background-color: white;
        height: 40px !important;
    }

    &__date-range-field {
        width: 220px;
    }
}

.custom-geosearch {
    width: 220px !important;
}
