.type {
    &__container {
        margin-top: 22px;
    }

    &__tag-container {
        display: flex;
        width: 50%;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__chip {
        margin-left: 10px;
        &:first-child {
            margin-left: 0px;
        }
    }

    .selected {
        border-color: #056694 !important;
        color: #056694 !important;
    }
    
    .title-container {
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        padding-top: 20px;
        
        .v-input--selection-controls {
            margin-top: 0px;
            padding-top: 0px;
        }

        .v-input__slot {
            margin-bottom: 0px;
        }
    }
}