.login {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    color: #4a4a4a;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.15px;
    line-height: 32px;
    text-align: center;
  }

  &__subtitle {
    width: 100%;
    padding-top: 14px;
    padding-bottom: 46px;
    color: #4a4a4a;
    font-family: "Open Sans";
    font-size: 14px;
    letter-spacing: 0.1px;
    line-height: 22px;
    text-align: center;
  }

  &__forget-password {
    display: flex;
    justify-content: flex-end;
  }

  &__forget-password > a {
    color: #9b9b9b;
  }

  &__sign-in {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    font-family: "Avenir Next";

    .v-btn {
      text-transform: none;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 19px;
      width: 143px;
    }
  }

  &__error-msg-text {
    color: red;
    text-align: center;
  }
}
