// Ref: https://github.com/nuxt-community/vuetify-module#customvariables

$default-font-size: 12px;
$font-size-md: 14px;

$primary-color: white;
$secondary-color: #056694;
$grey: #4A4A4A;
$yellow: #F5A623;;

$primary-font: 'Open Sans';
$secondary-font: 'Open Sans';
